build/
gmon.out
src/lib-aldaron
photo_*
ccv/bin/*.o
ccv/lib/*.o
ccv/lib/3rdparty/dsfmt/*.o
ccv/lib/3rdparty/kissfft/*.o
ccv/lib/3rdparty/sfmt/*.o
ccv/lib/3rdparty/sha1/*.o
ccv/lib/3rdparty/sqlite3/*.o
ccv/bin/aflw
ccv/bin/bbfcreate
ccv/bin/bbfdetect
ccv/bin/bbffmt
ccv/bin/cifar-10
ccv/bin/cnnclassify
ccv/bin/dpmcreate
ccv/bin/dpmdetect
ccv/bin/icfcreate
ccv/bin/icfoptimize
ccv/bin/image-net
ccv/bin/msermatch
ccv/bin/scdcreate
ccv/bin/scddetect
ccv/bin/siftmatch
ccv/bin/swtcreate
ccv/bin/swtdetect
ccv/bin/tld
ccv/samples
scdcreate
ccv/lib/libccv.a
ccv/lib/config.log
ccv/doc
ccv/site
ccv/test
